.bg{
  position: fixed;
  top:0;
  width: 100%;
  height: 100vh;
  background: url("/assets/tic-tac-toe.png") no-repeat right bottom;
  background-size: 45%;
  mix-blend-mode: multiply;
  z-index: -1;
}
