<main>
  <div>
    <h1>TIC TAC TOE</h1>
    <div class="card card-register">
      <div class="card-header"><img alt="Card image" class="card-img" src="assets/img/square1-red.png">
        <h4 class="card-title"> &nbsp; play &nbsp; &nbsp; &nbsp;</h4>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="mb-3">
            <label class="mb-1 d-block">Play With</label>
            <button type="button" class="btn btn-round mr-2" [ngClass]="{'btn-info': !isSystem}"
              (click)="setSystem(false)"> Friend
            </button>
            <button type="button" class="btn btn-round" [ngClass]="{'btn-info':isSystem}" (click)="setSystem(true)">
              System
            </button>
          </div>
          <div class="input-group">
            <input class="form-control" placeholder="Player X Name" type="text" [formControl]="xPlayer">
          </div>
          <div class="input-group">
            <input class="form-control" placeholder="Player O Name" type="text" [formControl]="yPlayer">
          </div>
        </form>
      </div>
      <div class="card-footer"><a class="btn btn-danger btn-round btn-lg" href="javascript:void(0)" (click)="play()"> Play Now </a>
      </div>
    </div>
  </div>
</main>
